body {
  background: #fff; }

html, body {
  overflow-x: hidden;
  height: 100%; }

h1, h2, h3, h4, h5 {
  font-family: "Istok Web", sans-serif; }

p, li, a {
  font-family: "PT Sans", sans-serif; }

#main {
  overflow-y: hidden; }

a:focus {
  outline: 0; }

.section-break-wrap {
  width: 90%;
  margin: 40px auto; }
  .section-break-wrap .section-caption {
    color: #22b2ed;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #22b2ed;
    opacity: 0.7; }

#intro {
  margin-top: 100px; }
  #intro .col-sm-6 img {
    max-width: 200px;
    margin: 0 auto;
    border: 5px solid #000; }
  #intro .col-sm-6 .img-wrap img {
    max-height: 70px;
    border: none;
    margin: 5px;
    display: inline-block; }
  #intro .col-sm-6 .logo-wrap {
    text-align: center; }
    #intro .col-sm-6 .logo-wrap h4 {
      display: inline-block;
      margin: 0 auto;
      text-align: center;
      background: #000;
      color: #fff;
      padding: 10px 20px;
      width: 200px;
      font-family: "Titillium Web", sans-serif;
      font-size: 20px;
      font-weight: bold; }
  #intro .col-sm-6 .lead-content-wrap {
    width: 90%; }
    #intro .col-sm-6 .lead-content-wrap h3 {
      text-align: left;
      color: #22b2ed;
      font-weight: bold; }
      @media (min-width: 992px) {
        #intro .col-sm-6 .lead-content-wrap h3 {
          font-size: 34px; } }
    #intro .col-sm-6 .lead-content-wrap p {
      font-size: 17px; }
  #intro .col-sm-6 .list-wrap ul {
    width: 50%;
    padding: 10px 35px;
    display: inline-block; }
    @media (min-width: 767px) {
      #intro .col-sm-6 .list-wrap ul {
        float: left; } }

#experience .site-sections-wrap {
  text-align: center; }
  #experience .site-sections-wrap .site-sections {
    text-align: left;
    width: 400px;
    margin: 0 auto;
    list-style: none;
    padding: 0px; }
    #experience .site-sections-wrap .site-sections li a, #experience .site-sections-wrap .site-sections li a:active, #experience .site-sections-wrap .site-sections li a:visited, #experience .site-sections-wrap .site-sections li a:focus {
      border-bottom: 5px solid #fff;
      color: #000;
      transition: .2s;
      -webkit-transition: .2s; }
      @media (min-width: 992px) {
        #experience .site-sections-wrap .site-sections li a, #experience .site-sections-wrap .site-sections li a:active, #experience .site-sections-wrap .site-sections li a:visited, #experience .site-sections-wrap .site-sections li a:focus {
          font-size: 40px;
          line-height: 100px; } }
      #experience .site-sections-wrap .site-sections li a:hover, #experience .site-sections-wrap .site-sections li a:active:hover, #experience .site-sections-wrap .site-sections li a:visited:hover, #experience .site-sections-wrap .site-sections li a:focus:hover {
        border-bottom: 5px solid #22b2ed;
        text-decoration: none; }

#logo-box h4 {
  display: inline-block;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  font-weight: 500;
  margin: 0;
  font-family: "Titillium Web", sans-serif; }

.skills {
  background-color: #22b2ed;
  height: 100%; }

.skills-wrap {
  height: 100%; }

#skills-section .content-box {
  color: #000;
  border: 4px solid #22b2ed; }
  @media (min-width: 992px) {
    #skills-section .content-box {
      padding: 70px;
      margin-left: 90px;
      margin-top: 30px; } }
  #skills-section .content-box h3 {
    font-size: 40px;
    font-weight: bold; }

#clients {
  padding: 70px 0px;
  text-align: center; }
  #clients h3 {
    font-size: 40px;
    font-weight: bold; }
  #clients .client-logos {
    margin-top: 100px;
    list-style: none;
    padding-left: 0px; }
    #clients .client-logos li {
      display: inline-block; }
    #clients .client-logos svg {
      margin-top: -10px; }
    #clients .client-logos svg, #clients .client-logos img {
      max-width: 125px;
      max-height: 70px;
      margin: 0 auto; }
    @media (min-width: 992px) {
      #clients .client-logos #mav {
        margin-top: 15px;
        max-width: 175px; } }
    @media (min-width: 992px) {
      #clients .client-logos #Layer_1 {
        margin-top: -7px; } }
    @media (min-width: 992px) {
      #clients .client-logos #atlas {
        margin-top: 10px;
        max-width: 175px; } }
    #clients .client-logos g {
      fill: #000; }

.skills-bg {
  background: #fff; }

footer {
  bottom: 0;
  margin-top: 50px;
  border-top: 1px solid #22b2ed; }
  footer .copy-wrap {
    text-align: center; }
    footer .copy-wrap .copyright {
      margin: 0px;
      padding: 20px 0px; }

/*# sourceMappingURL=styles.css.map */
